# 依赖
node_modules/
.pnpm-store/

# 构建产物
dist/
dist-ssr/
src-tauri/target/
src-tauri/gen/

# 编辑器
.vscode/
.idea/
*.suo
*.user

# 系统
.DS_Store
Thumbs.db

# 日志
*.log
npm-debug.log*
pnpm-debug.log*

# 环境变量
.env
.env.local
.env.*.local
